SoapClientConsoleDeserialize1/servicesHello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://learnwebservices.com/services/hello" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/hello" version="1.0">
	<xs:complexType name="helloRequest">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="helloResponse">
		<xs:sequence>
			<xs:element name="Message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HelloRequest" nillable="true" type="helloRequest"/>
	<xs:element name="HelloResponse" nillable="true" type="helloResponse"/>
</xs:schema>